/* CUSTOMS */
/* TODO to CHECK!!! */
/* .css-1w8cq46-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
} */

/* .css-1w8cq46-MuiInputBase-root-MuiInput-root {
  border-bottom: none !important ; /* input priceSlider border remove*/
/* } */

.css-1swl98f-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}

.css-1swl98f-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}
.css-1swl98f-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: none !important;
}

.css-nz481w-MuiInputBase-input-MuiInput-input {
  color: #ffffff !important; /* change font color - input priceSlider */
  font-weight: 700 !important;
  font-size: 2rem !important;
  font-family: Montserrat !important;
}

/* .css-1w8cq46-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important; /* input priceSlider focus*/
/* } */
.css-cp2j25-MuiSlider-thumb {
  width: 26px !important;
  height: 26px !important;
}

.css-1t06vte-MuiSlider-root .MuiSlider-rail {
  height: 3px !important;
}

.paddingT_3px {
  padding-top: 3px;
}

.css-nz481w-MuiInputBase-input-MuiInput-input {
  text-align: end !important;
}

.css-qcas13-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}
.css-qcas13-MuiInputBase-root-MuiInput-root::after {
  border-bottom: none !important;
}

.loader-wrapper {
  position: absolute !important;
  left: 50%;
  bottom: 26px;
  transform: translateX(-50%);
  z-index: 1;
  height: 36px !important;
  width: 100%;
  max-width: 396px !important;
}
.progressBar {
  height: 36px !important;
  width: 100%;
  max-width: 396px !important;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.progressBar::-webkit-progress-value {
  background: linear-gradient(93.73deg, #b3ca85 5.04%, #4daad3 95.09%);
  transition: width 5s ease;
  border-radius: 10px;
}

.progressBar::-moz-progress-bar {
  background: linear-gradient(93.73deg, #b3ca85 5.04%, #4daad3 95.09%);
  transition: width 5s ease;
  border-radius: 10px;
}

.progressBar::-ms-fill {
  background: linear-gradient(93.73deg, #b3ca85 5.04%, #4daad3 95.09%);
  transition: width 5s ease;
  border-radius: 10px;
}

.progressBarText {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;
  color: black;
  z-index: 3;
  font-size: 15px;
  font-weight: 700;
}

.custom-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #d9d9d9;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.custom-dot.active {
  opacity: 1;
}
